/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Make this a seperate file from your actual
   style sheet file
*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 16px/28px arial, sans-serif;
  background-color: grey;
  color: #121212;
  background-image: url("repeating-gray-wallpaper-pattern-abstract-shapes-background-63525176.webp");
  background-repeat: repeat;
}

.container {
  width: 800px;
  margin: auto;
  padding: 16px;
  background-color: darkgray;
}

.header .judul {
  font-size: 48px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header ul li {
  display: inline-block;
    margin-right: 4px;
  margin: 16px 0px;
}

.header a {
  color: black;
  padding: 4px 32px;
  border: 2px solid black;
  text-decoration: none;
}

.header a:hover {
  background-color: brown;
  color: whitesmoke;
  transition-duration: 0.3s;
}

.hero {
  width: 768px;
  aspect-ratio: 2/1;
  background-image: url("cowboy.jpeg");
  background-size: cover;
  background-position: 0 -100px;
}

.content{
  margin: 16px 0px;
}

.content .writter a{
  color: brown;
  font-size: 14px;
  text-decoration: none;
}

.content h2{
  font-size: 32px;
  font-weight: bold;
}

.content p{
  margin-bottom: 8px;
  font-size: 14px;
  line-height:24px;
}

.footer{
  border-top: 2px solid black;
  text-align: center;
  font-weight: lighter;
  color: black;
  padding-top: 16px;
}